API_ID=
API_HASH=
BOT_TOKEN=
OWNER_ID=
BOT_USERNAME=
UPDATE_CHANNEL_ID=
UPDATE_CHANNEL_ID2=
TMDB_CHANNEL_ID=
LOG_CHANNEL_ID=
BACKUP_CHANNEL=
MY_DOMAIN=
MONGO_URI=
TMDB_API_KEY=
URLSHORTX_API_TOKEN=
SHORTERNER_URL=
SEND_UPDATES=