Pyrofork==2.3.68
aiohttp==3.13.0
cachetools==6.2.1
cinemagoer==2023.5.1
fastapi==0.119.0
mutagen==1.47.0
parse-torrent-title==2.8.1
motor==3.4.0
python-dotenv==1.1.1
requests==2.32.5
TgCrypto==1.2.5
uvicorn==0.37.0
